{#
/**
 * @file
 * Template for a one column panel layout.
 *
 * This template provides a very simple "one column" panel display layout.
 *
 * Variables:
 * - $id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.subsection: The content header.
 *   - content.middle: The main content.
 */
#}
<section class="panel-oedu-1col subsection" {% if css_id %}{{ css_id }}{% endif %}>
  <div class="panel-panel">
      {{ content.subsection }}
  </div>
</section>
<section class="panel-oedu-container">
  <div class="panel-oedu-1col" {% if css_id %}{{ css_id }}{% endif %}>
    <div class="panel-panel">
      {{ content.middle }}
    </div>
  </div>
</section>
