.contact-message-openedu-newsletter-form {
  background: $primary-light;
  text-align: center;
  padding: 1.429em;

  .block-title {
    margin: 10px auto;
    color: #fff;
    font-size: 1em;

    @include media-breakpoint-up(md) {
      margin: 0 10px 0 0;
      display: inline-block;
      line-height: 40px;
      vertical-align: top;
    }
  }

  form {
    background: rgba(0, 0, 0, 0.17);
    border: 1px solid $gray-dark;
    border-color: rgba($gray-dark, 0.17);

    &.form-focusing {
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    @include media-breakpoint-up(md) {
      max-width: 250px;
    }

    .form-group {
      margin: 0;
    }

    label {
      display: none;
    }

    div.form-item-mail {
      margin: 0;
      line-height: 40px;
      text-align: left;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.form-type-item {
        padding: 0 10px;
        font-style: italic;
      }
    }

    .form-email {
      padding: 6px 12px;
      height: 40px;
      border: 0;
      color: $white;
      background: transparent;
      width: 100%;
      outline: none;

      &::placeholder {
        font-weight: 100;
        font-style: italic;
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .form-submit {
      font-size: 0.875em;
      padding: 6px 15px;
      margin: 5px;
      border: none;
      background: $primary-darker;
    }
  }
}
